:root {
    --m1: 50px;
    --m2: 40px;
    --m3: 30px;
}

/* Regole di reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Regole di layout*/
body {
    font-family: "Fredoka", sans-serif;
}

.container {
    max-width: 1010px;
    margin-inline: auto;
}

/* Clearfix */
.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

/* Main header */
.main-header {
    padding-top: var(--m3);
}

.main-header__title {
    margin-bottom: var(--m1);
    text-align: center;
    color: #E53170;
    font-weight: 900;
}

/* Cards Wrapper*/
.cards-wrapper__text {
    margin-bottom: var(--m2);
    text-align: center;
}

/* Cards */
.row {
    margin-inline: calc(var(--m3) / -2);
}

.col {
    padding: 0 calc(var(--m3) / 2) calc(var(--m2));
    width: calc(100% / 3);
    float: left;
}

.card {
    background-color: #0F0E17;
    color: #fff;
    box-shadow: 0 0 15px -3px #bbb;
}

.card__img {
    margin-right: calc(var(--m3) / 2);
    float: left;
}

.card__title {
    margin-top: calc(calc(var(--m3) / 2) - 7px);
    font-size: 18px;
    text-transform: uppercase;
}

.card__title,
.card__role {
    margin-bottom: calc(calc(var(--m3) / 2) - 7px);
}

.card__email {
    color: #55CCF2;
    text-decoration: none;
}